@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #111827;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 120px;
  background: linear-gradient(90deg, #7EE3B4 0%, #3E86F3 48.2%, #883CEB 100%);
  -webkit-background-clip: text;
  background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
}

.fg--search {
  background: white;
  position: relative;
  width: 524px;
  height: 56.58px;
  border-radius: 50px;
  
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}

.fg--search input {
  width: 100%;
  padding: 22px 232px 22px 74px;
  display: block;
  border-radius: 50px;
  border: none;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 20px;
  z-index: 2;
}

.fg--search input:focus + button .fa-search {
  color: red;
}
.left-margin {
  margin: 0px 16px;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: white;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}




